.idea
logs
node_modules
dist
.DS_Store
dump.rdb
/nbproject/*
.npmrc
.nyc_output
coverage
.vscode
report.*
*.swp
*.*~
*.pyc
nupkg/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn